{% extends "base.html" %} 
{% load static %} 
{% block contenido %} 

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    </head>
<body>
    <header>
        <h1>Acerca de Nuestro Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto/">Contacto</a></li>
                 <li><a href="/novedades/">novedades</a></li>
                  <li><a href="/chat/">chat</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Somos un blog dedicado a compartir conocimientos y experiencias sobre los distintos tipos musicales y artistas que lo representan. Creemos en crear un espacio para todos los fanaticos que sea divertido y accesible para todos.</p>
        </section>

        <section>
            <h2>¿Quiénes Somos?</h2>
            <p>Un equipo de entusiastas de fanaticos apasionados por la musica.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 MiBlogDjango. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
 {% endblock %} 
 
 